{% extends 'base.html' %}

{% block content %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">

                <strong> Message:</strong>{{ message }}
            </div>
{% endfor %}
 <div class="body">
        <div class="origin">
            <form action="{% url 'updatepassword' %}" method="post"> <h1>change password form</h1>
                <table  class="table table-borderless">
                <tr><td colspan="2"><label for="password" class="form-label">password</label>
                <input type="password" id="password" name="password" class="form-control"></td></tr>
                    <tr><td colspan="2"><label for="password" class="form-label">reenter password</label>
                <input type="password" id="password" name="password2" class="form-control"></td></tr>
                <tr><td colspan="2" class="submit-btn">
                    <input class="btn btn-primary" type="submit" value="Submit">
                </td></tr>
            </table>
            </form>

        </div>

    </div>


{% endblock %}